In [3]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/e5/cd/c941b51e95992968e3e8abc7180f33b952478abd6943062051517a808db7/pandas-2.1.0-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.1.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/86/a1/b8ef999c32f26a97b5f714887e21f96c12ae99a38583a0a96e65283ac0a1/numpy-1.25.2-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading numpy-1.25.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (5.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/juliomorales/anaconda3/envs/pandas_projects/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/juliomorales/anaconda3/envs/pandas_projects/lib/python3.11/site-packages (from pandas) (2022.7)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 7.7 MB/s eta 0:00:0000:01
Requirement already satisfied: six>=1.5 in /Users/juliomorales/anaconda3/envs/pandas_projects/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.0-cp311-cp311-macosx_11_0_arm64.whl (11.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.2/11.2 MB 10.3 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.25.2-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 3.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.1.0 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [8]:
nasdaq = pd.read_csv("nasdaq.csv")

In [17]:
nasdaq.head(27)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-03-13,11041.459961,11773.110352,10982.799805,11630.509766,11630.509766,31049050000
1,2023-03-20,11614.389648,12013.990234,11550.690430,11823.959961,11823.959961,24063200000
2,2023-03-27,11868.540039,12227.929688,11635.030273,12221.910156,12221.910156,23120800000
3,2023-04-03,12146.089844,12224.679688,11898.360352,12087.959961,12087.959961,17356590000
4,2023-04-10,11975.129883,12205.719727,11916.540039,12123.469727,12123.469727,23519530000
5,2023-04-17,12108.230469,12245.429688,11986.820313,12072.459961,12072.459961,24106270000
6,2023-04-24,12053.469727,12227.719727,11798.769531,12226.580078,12226.580078,25527130000
7,2023-05-01,12210.049805,12264.830078,11925.370117,12235.410156,12235.410156,25772570000
8,2023-05-08,12231.679688,12364.650391,12174.059570,12284.740234,12284.740234,21950890000
9,2023-05-15,12301.169922,12731.730469,12263.349609,12657.900391,12657.900391,21017290000
10,2023-05-22,12664.440430,13001.910156,12415.849609,12975.690430,12975.690430,21800340000
11,2023-05-29,13109.099609,13256.209961,12889.370117,13240.769531,13240.769531,19786300000
12,2023-06-05,13238.480469,13385.950195,13089.480469,13259.139648,13259.139648,23118660000
13,2023-06-12,13326.370117,13864.059570,13302.580078,13689.570313,13689.570313,29761380000
14,2023-06-19,13642.290039,13711.179688,13441.559570,13492.519531,13492.519531,22666400000
15,2023-06-26,13468.740234,13816.679688,13334.419922,13787.919922,13787.919922,23066790000
16,2023-07-03,13798.700195,13844.500000,13567.250000,13660.719727,13660.719727,19452840000
17,2023-07-10,13645.370117,14232.110352,13584.870117,14113.700195,14113.700195,25897410000
18,2023-07-17,14149.919922,14446.549805,14020.450195,14032.809570,14032.809570,24911850000
19,2023-07-24,14081.629883,14360.200195,13997.129883,14316.660156,14316.660156,21786900000
20,2023-07-31,14337.900391,14370.910156,13881.349609,13909.240234,13909.240234,26436590000
21,2023-08-07,13972.450195,13997.150391,13609.980469,13644.849609,13644.849609,25706200000
22,2023-08-14,13599.000000,13789.160156,13161.759766,13290.780273,13290.780273,25071190000
23,2023-08-21,13347.259766,13834.690430,13325.589844,13590.650391,13590.650391,21127230000
24,2023-08-28,13695.360352,14149.620117,13626.639648,14031.809570,14031.809570,21382030000
25,2023-09-04,13994.540039,14060.849609,13642.469727,13761.530273,13761.530273,17076300000
26,2023-09-11,13884.030273,13937.469727,13733.820313,13813.589844,13813.589844,13974670000

In [11]:
nasdaq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       27 non-null     object
 1   Open       27 non-null     float64
 2   High       27 non-null     float64
 3   Low        27 non-null     float64
 4   Close      27 non-null     float64
 5   Adj Close  27 non-null     float64
 6   Volume     27 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.6+ KB

In [12]:
nasdaq.shape

(27, 7)

In [19]:
nasdaq["Close"].max() , nasdaq.max()

(14316.660156,
 Date           2023-09-11
 Open         14337.900391
 High         14446.549805
 Low          14020.450195
 Close        14316.660156
 Adj Close    14316.660156
 Volume        31049050000
 dtype: object)

In [20]:
nasdaq["Close"].min(), nasdaq.min()

(11630.509766,
 Date           2023-03-13
 Open         11041.459961
 High         11773.110352
 Low          10982.799805
 Close        11630.509766
 Adj Close    11630.509766
 Volume        13974670000
 dtype: object)

In [21]:
nasdaq.describe()

,Open,High,Low,Close,Adj Close,Volume
count,27.000000,27.000000,27.000000,27.000000,27.000000,2.700000e+01
mean,13018.733001,13271.814453,12842.828125,13110.253689,13110.253689,2.298172e+10
std,922.702967,884.037222,891.986572,825.830283,825.830283,3.659461e+09
min,11041.459961,11773.110352,10982.799805,11630.509766,11630.509766,1.397467e+10
25%,12178.069825,12255.129883,11956.095215,12230.995117,12230.995117,2.125463e+10
50%,13326.370117,13711.179688,13161.759766,13290.780273,13290.780273,2.311866e+10
75%,13747.030274,13967.310059,13597.425293,13774.725097,13774.725097,2.529916e+10
max,14337.900391,14446.549805,14020.450195,14316.660156,14316.660156,3.104905e+10

In [24]:
nasdaq.loc[22]

Date           2023-08-14
Open              13599.0
High         13789.160156
Low          13161.759766
Close        13290.780273
Adj Close    13290.780273
Volume        25071190000
Name: 22, dtype: object

In [25]:
nasdaq.loc[[22,21,4,1]]

,Date,Open,High,Low,Close,Adj Close,Volume
22,2023-08-14,13599.000000,13789.160156,13161.759766,13290.780273,13290.780273,25071190000
21,2023-08-07,13972.450195,13997.150391,13609.980469,13644.849609,13644.849609,25706200000
4,2023-04-10,11975.129883,12205.719727,11916.540039,12123.469727,12123.469727,23519530000
1,2023-03-20,11614.389648,12013.990234,11550.690430,11823.959961,11823.959961,24063200000